html, body {
  margin: 0;
  padding: 0;
}
body {
  background: black;
}
nav a {
  height: 500px;
}
div {
  float: left;
}
.header1 {
  height: 759px;
  
}
.container {
  background: white;
  height: 759px;
  width: 964px;
}
.header2 {
  height: 759px;
  
}
